<style type="text/css">
	.AutoNewline
	{
	  Word-break: break-all;/*必须*/
	}
	.table1{
		border: 1px solid #666;
		width: 219px;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.table1 th,.table1 td{
		border: 1px solid #666;
		height: 219px;
		width:219px;
		line-height: 219px;
	}
</style>
<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
</head>
<body>
<table class="table1">
	    {% for i in range(12)  %}
    	<tr>
    		<td nowrap=true><img src='../static/{{name}}/{{i}}.jpg'/><br>
				<div style="width:300px;height:30px;margin:0px auto;">
					<div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;"><audio src="../static/{{name}}/{{i}}_A.mp3"  controls="controls" preload id="music_{{i}}_A" class="button" hidden> </audio>
					<button id="{{i}}_A" style="width:80px;height:30px;" onclick='a("music_{{i}}_A");'>打卡</button></div>
					<div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;"><audio src="../static/{{name}}/{{i}}_B.mp3"  controls="controls" preload id="music_{{i}}_B" class="button" hidden> </audio>
					<button id="{{i}}_B" style="width:80px;height:30px;" onclick='a("music_{{i}}_B");'>解释</button></div>
				</div>
			</td>
    	</tr>
    	{% endfor %}
</table>

<script type="text/javascript">
 function a(id){
 	 var isPlaying = false;
     var audio = document.getElementById(id);
     if(audio.paused){
         audio.play();// 播放

     }
     else{
     	 audio.pause();
     }
   }
</script>
</body>
</html>