<style type="text/css">
		.table1{
			border: 1px solid #666;
			width: 890px;
			border-collapse: collapse;
			border-spacing: 0;
		}
		.table1 th,.table1 td{
			border: 1px solid #666;
			height: 219px;
			width: 219px;
			line-height: 219px;
		}

</style>
<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
</head>
<table class="table1">
	{% for m in range(12)  %}
		{% if(loop.index0 % 4 == 0)  %}
			<tr>
				<td nowrap=true><img src='../static/{{name}}/{{loop.index0}}.jpg'/><br>
					<div style="width:300px;height:30px;margin:0px auto;">
						<div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;"><audio src="../static/{{name}}/{{loop.index0}}_A.mp3"  controls="controls" preload id="music_{{loop.index0}}_A" class="button" hidden> </audio>
						<button id="{{loop.index0}}_A" style="width:80px;height:30px;" onclick='a("music_{{loop.index0}}_A");'>打卡</button></div>
						<div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;"><audio src="../static/{{name}}/{{loop.index0}}_B.mp3"  controls="controls" preload id="music_{{loop.index0}}_B" class="button" hidden> </audio>
						<button id="{{loop.index0}}_B" style="width:80px;height:30px;" onclick='a("music_{{loop.index0}}_B");'>解释</button></div>
					</div>
				</td>
		{% endif  %}
		{% if(loop.index0 % 4 > 0)  %}
			<td nowrap=true><img src='../static/{{name}}/{{loop.index0}}.jpg'/><br>
					<div style="width:300px;height:30px;margin:0px auto;">
						<div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;"><audio src="../static/{{name}}/{{loop.index0}}_A.mp3"  controls="controls" preload id="music_{{loop.index0}}_A" class="button" hidden> </audio>
						<button id="{{loop.index0}}_A" style="width:80px;height:30px;" onclick='a("music_{{loop.index0}}_A");'>打卡</button></div>
						<div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;"><audio src="../static/{{name}}/{{loop.index0}}_B.mp3"  controls="controls" preload id="music_{{loop.index0}}_B" class="button" hidden> </audio>
						<button id="{{loop.index0}}_B" style="width:80px;height:30px;" onclick='a("music_{{loop.index0}}_B");'>解释</button></div>
					</div>
			</td>
				{% if(loop.index0 % 4 == 3)  %}
					</tr>
				{% endif  %}
		{% endif  %}


	{% endfor %}

</table>

<script type="text/javascript">
 function a(id){
 	 var isPlaying = false;
     var audio = document.getElementById(id);
     if(audio.paused){
         audio.play();// 播放

     }
     else{
     	 audio.pause();
     }
   }
</script>
