<style type="text/css">
		.table1{
			border: 1px solid #666;
			width: 890px;
			border-collapse: collapse;
			border-spacing: 0;
		}
		.table1 th,.table1 td{
			border: 1px solid #666;
			height: 219px;
			width: 219px;
			line-height: 219px;
		}
	    #div1{
                height:50px;
                width:219px;
	    }
</style>
<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
</head>
<table class="table1">
    	<tr>
    		<td><img src='../static/{{name}}/0.jpg'/>
            <!--<div id='div1'>-->
				<!--<audio controls="controls" width="219" height="50">-->
					<!--<source src="../static/{{name}}/0_A.mp3" type="audio/mp3"></source>-->
				<!--</audio>-->
			<!--</div>-->
			</td>

    		<td><img src='../static/{{name}}/1.jpg' />
			</td>

    		<td><img src='../static/{{name}}/2.jpg' />
			</td>

    		<td><img src='../static/{{name}}/3.jpg' />
			</td>
    	</tr>
    	<tr>
    		<td><img src='../static/{{name}}/4.jpg' /></td>
    		<td><img src='../static/{{name}}/5.jpg' /></td>
    		<td><img src='../static/{{name}}/6.jpg' /></td>
    		<td><img src='../static/{{name}}/7.jpg' /></td>
    	</tr>
    	<tr>
    		<td><img src='../static/{{name}}/8.jpg' /></td>
    		<td><img src='../static/{{name}}/9.jpg' /></td>
    		<td><img src='../static/{{name}}/10.jpg' /></td>
    		<td><img src='../static/{{name}}/11.jpg' /></td>
    	</tr>
</table>